.toggle-switch {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    cursor: pointer;
}

.toggle-switch input[type="checkbox"] {
    margin-right: 10px;
}
